/*Reset CSS*/
*
{
    margin: 0;
    padding: 0;
}

li
{
    list-style-type: none;
}

li:hover
{
    background-color: rgba(0, 0, 0, 0.5);
}

body
{
    font-family: "Avenir Next";
}

.header
{
    background-color: #0e78be;
    color: #ffffff;
    height: 90px;
}

.header-logo
{
    float: left;
    font-size: 36px;
    padding: 20px 30px;
}

.header-list li
{
    float: left;
    padding: 30px 20px;
}

/*MAIN*/

main
{
    padding: 100px 80px;
}

.main-ctr h1
{
    font-size: 95px;
}

.main-ctr h2
{
    font-size: 60px;
}

.main-ctr span
{
    color: red;
}

.contents
{
    height: 500px;
    margin-top : 100px;
}

.contents h3
{
    border-bottom: 2px solid #dee7ec;
    font-size : 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.contents-item
{
    float: left;
    margin-right: 40px;
}

.contents-img
{
    width: 250px;
    height: 250px;
    padding: 10px;
    background-color: red;
}

.contents-img img
{
    width: 250px;
}

.contents-img.htmlcss
{
    background-color: white;
}

.contents-img.php
{
    background-color: green;
}

.contents-img.java
{
    background-color: white;
}

.contents-img.phyton
{
    background-color: wheat;
}

.contents-item p
{
    font-size: 24px;
    margin-top: 30px;
    text-align: center;
}

.contact
{
    padding-top: 100px;
}

.contact h3
{
    border-bottom: 2px solid #dee7ec;
    font-size : 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

input, textarea
{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 10px;
    border: 1px solid #dee7ec;
}

.contact-submit
{
    background-color: #059065;
    color: #ffffff;
    cursor: pointer;
}

.txt-red
{
    color: #d40909;
}

/*footer*/
.footer
{
    background-color: #2f5167;
    color: #ffffff;
    padding : 20px 40px;
    height: 30px;
}

.footer-logo
{
    float: left;
    font-size: 30px;
}

.footer-list
{
    float: right;
}

.footer-list li
{
    padding : 10px 20px;
    float: left;
}